<!DOCTYPE html>
<html lang="fr">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description"
	content="Projet de programmation Architecture Logicielle distribuée et adaptative">
<meta name="author" content="Kanani Eusebe">
<meta name="author" content="Youssef Chagtab">
<title>Accueil</title>

<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="css/bootstrap-responsive.min.css" rel="stylesheet">
<link href="css/font-awesome.css" rel="stylesheet">
<link href="css/font-awesome-ie7.css" rel="stylesheet">
<link href="css/boot-business.css" rel="stylesheet">
<link href="css/picture.css" rel="stylesheet">
<link href="css/a-annonce.css" rel="stylesheet">
<link href="css/styleJavaeeChat.css" rel="stylesheet">

</head>
<body ng-app="myApp" style="background: url('img/content.png')">
	<div sticky offset="100" class="sticky">
		<div class="chat-wrapper" data-ng-show="chatVisibility"
			data-ng-controller="chatCtrl">
			<form id="do-chat">
				<h2 class="alert alert-success"></h2>
				<table id="response" class="table table-bordered"
					ng-repeat="message in chatWindow">
					<tr>
						<td class="received">{{ message.received }}</td>
						<td class="user label label-info">{{ message.sender }}</td>
						<td class="message badge">{{ message.message }}</td>
					</tr>
				</table>
				<fieldset class="form-group">
					<!--  <legend>Enter your message..</legend> -->
					<div class="controls">
						<input type="text" class="input-level form-control" type="text"
							data-ng-model="message.contenu" placeholder="Your message..."
							id="message" style="height: 60px" /> <br> <input
							type="submit" value="Envoyer message" class="btn btn-primary"
							data-ng-click="submitMessage()">
						<button class="btn  btn-default" type="button" id="leave-room"
							data-ng-click="closeChat()">Quitter le chat</button>
					</div>
				</fieldset>
			</form>
		</div>
	</div>
	<!-- including header  
	<div ng-include src="'header.html'"></div> -->

	<!-- Start: HEADER -->

	<!-- Start: Navigation wrapper -->
	<div class="navbar navbar-fixed-top" style="position: absolute;">
		<div class="navbar-inner">
			<div class="container">
				<a href="index.html" class="brand brand-bootbus">AldaMarket</a>
				<!-- Below button used for responsive navigation -->
				<button type="button" class="btn btn-navbar" data-toggle="collapse"
					data-target=".nav-collapse">
					<span class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<!-- Start: Primary navigation -->
				<div class="nav-collapse collapse">
					<ul class="nav pull-right" ng-controller='HeaderController'>

						<li>
							<form class="navbar-form navbar-left" role="search">
								<div class="form-group">
									<input type="text" class="form-control" placeholder="Search">

									<button type="submit" class="btn btn-pink">
										<i class="icon icon-search"></i>
									</button>
								</div>
							</form>
						</li>

						<li><a data-ng-show="user.isConnected(user.getData())"
							ui-sref="mesannonces">Mes annonces</a></li>
							
						<li><a ui-sref="alert"
							ng-show="user.isConnected(user.getData())">Cr&eacute;er une alerte</a></li>

						<li><a ui-sref="annonce"
							ng-show="user.isConnected(user.getData())">Ajouter une
								annonce</a></li>

						<li class="dropdown" data-ng-show="user.isConnected(user.getData())">
						<a
							class="dropdown-toggle" data-toggle="dropdown">{{
								user.getData().firstName }}<b class="caret"></b>
						</a>
							<ul class="dropdown-menu">
								<li><a ui-sref="mesannonces">Mes annonces</a></li>
								<li><a ui-sref="mesinfos">Mes informations</a></li>
								<li><a href="#">Historique</a></li>
								<li><a href="#">Mes annonces préférés</a></li>
								<li><a href="#" ng-click="logout()">Deconnexion</a></li>
							</ul></li>


						<li><a ui-sref="inscription"
							data-ng-hide="user.isConnected(user.getData())">Inscription</a></li>

						<li><a ui-sref="connexion"
							data-ng-hide="user.isConnected(user.getData())">Connexion</a></li>

					</ul>
				</div>
			</div>
		</div>
	</div>
	<!-- End: Navigation wrapper -->

	<!-- End: HEADER -->

	<!-- /container -->

	<div ui-view></div>


	<!-- Start: FOOTER -->
	<footer>
		<div class="container">
			<div class="row">
				
				<div class="span2">
					<h4>
						<i class="icon-beaker icon-white"></i> About
					</h4>
					<nav>
						<ul class="quick-links">
							<li><a href="#" >Our works</a></li>
							<li><a href="#" >Patnerships</a></li>
							<li><a href="#" >Leadership</a></li>
							<li><a href="#" >News</a></li>
							<li><a href="#" >Events</a></li>
							<li><a href ="#">Blog</a></li>
							<ul>
					</nav>
				</div>
				<div class="span2">
					<h4>
						<i class="icon-thumbs-up icon-white"></i> Support
					</h4>
					<nav>
						<ul class="quick-links">
							<li><a href="#" >FAQ</a></li>
							<li><a href="#" >Contact us</a></li>
						</ul>
					</nav>
					<h4>
						<i class="icon-legal icon-white"></i> Legal
					</h4>
					<nav>
						<ul class="quick-links">
							<li><a href="#">License</a></li>
							<li><a href="#">Terms of Use</a></li>
							<li><a href="#">Privacy Policy</a></li>
							<li><a href="#">Security</a></li>
						</ul>
					</nav>
				</div>
				<div class="span3">
					<h4>Get in touch</h4>
					<div class="social-icons-row">
						<a href="#"><i class="icon-twitter"></i></a> <a href="#"><i
							class="icon-facebook"></i></a> <a href="#"><i
							class="icon-linkedin"></i></a>
					</div>
					<div class="social-icons-row">
						<a href="#"><i class="icon-google-plus"></i></a> <a href="#"><i
							class="icon-github"></i></a> <a
							href="mailto:youssef.chagtab@gmail.com"><i
							class="icon-envelope"></i></a>
					</div>
					<div class="social-icons-row">
						<i class="icon-phone icon-large phone-number"></i> +33675087299
					</div>
				</div>
				<div class="span3">
					<h4>Get updated by email</h4>
					<form>
						<input type="text" name="email" placeholder="Email address">
						<input type="submit" class="btn btn-primary" value="Subscribe">
					</form>
				</div>
			</div>
		</div>
	</footer>
	<!-- End: FOOTER -->



	<script type="text/javascript"
		src="bower_components/angular/angular.min.js"></script>
	<script type="text/javascript"
		src="bower_components/angular-resource/angular-resource.min.js"></script>
	<script type="text/javascript"
		src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
	<script type="text/javascript"
		src="bower_components/ng-file-upload/ng-file-upload.min.js"></script>
	<script type="text/javascript"
		src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>

	<!-- fix div on top -->
	<script type="text/javascript"
		src="bower_components/ngSticky/lib/sticky.js"></script>
	<script type="text/javascript" src="indexRoute.js"></script>
	<script type="text/javascript" src="js/services.js"></script>
	<script type="text/javascript" src="js/controllers.js"></script>
	<script type="text/javascript" src="js/directives.js"></script>
	<script type="text/javascript" src="js/jquery.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/boot-business.js"></script>
</body>
</html>
