
<!-- Start: MAIN CONTENT -->
<div class="content">
	<div class="container">
		<div class="page-header">
			<h1>Cr&eacute;ation d'une alerte</h1>
		</div>
		<div class="row-fluid">
			<!-- Start: CONTACT US FORM -->
			<div class="span4 offset1">
				<div class="page-header">
					<h2>Saisissez un crit&egrave;re</h2>
				</div>
				<form class="form-contact-us">
					<div class="control-group">
						<div class="controls">
							<textarea id="inputMessage" data-ng-model="critere" placeholder="critere"></textarea>
						</div>
					</div>
					<div class="control-group">
						<div class="controls">
							<input type="submit" class="btn btn-primary btn-large" data-ng-click="subscriptionToEvent(critere)"
								value="Envoyer">
						</div>
					</div>
				</form>
			</div>
			<!-- End: CONTACT US FORM -->
		</div>
	</div>
</div>
<!-- End: MAIN CONTENT -->
