

<!-- Start: Main content -->
<div class="content">
	<div class="container">
		<!-- Start: Product description -->
		<airticle class="article">
		<div class="row bottom-space">
			<div class="span12">
				<div class="page-header">
					<h1>Mes informations</h1>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="span10 offset1">

				<div ng-show="!edit" class="thumbnail">
					<div class="caption">
						<p>
							<strong>Nom :</strong> {{editables.firstName }}
						</p>
						 <p>
						 <strong>Prenom :</strong> {{editables.lastName }}
						</p>
						<p>
						 <strong>Email :</strong> {{editables.email}}
						</p>
						<p>
						 <strong>Date d'inscription </strong>
						{{editables.dateInscription | date:'longDate'}}
						</p>
						 <p>
						<strong>Telephone :</strong> {{editables.telephone}}
						</p>
						<p>
						 <strong>Ville :</strong>{{editables.ville}}
						</p>
						<p>
						 <strong>Code postal :</strong> {{editables.codePostale}}
						</p>
						
						</div>

				</div>
				<div>
					<button ng-click="edit=true" class="btn btn-primary">edit</button>
				</div>


				<form ng-show="edit" name="myForm">

					<fieldset class="form-group">
						<label for="exampleTextarea">Nom</label> <input type="text"
							class="form-control" id="exampleInputEmail1"
							ng-model="editables.firstName">
					</fieldset>


					<fieldset class="form-group">
						<label for="exampleTextarea">Prenom</label> <input type="text"
							class="form-control" id="exampleInputEmail1"
							ng-model="editables.lastName">
					</fieldset>

					<fieldset class="form-group">
						<label for="exampleInputEmail1">Email</label> <input type="text"
							class="form-control" id="exampleInputEmail1"
							ng-model="editables.email" required>

					</fieldset>

					<fieldset class="form-group">
						<label for="exampleInputEmail1">Telephone</label> <input
							type="text" class="form-control" id="exampleInputEmail1"
							ng-model="editables.telephone">
					</fieldset>

					<fieldset class="form-group">
						<label for="exampleInputEmail1">Ville</label> <input type="text"
							class="form-control" id="exampleInputEmail1"
							ng-model="editables.ville">
					</fieldset>

					<fieldset class="form-group">
						<label for="exampleInputEmail1">Code postal</label> <input
							type="text" name="codePostale" ng-maxlength="5"
							class="form-control" id="exampleInputEmail1"
							ng-model="editables.codePostale"> <span
							class="text-danger" ng-show="myForm.codePostale.$error.maxlength">
							Le code postal Doit contenir au maximum 5 chiffre !! </span>
					</fieldset>

					<input type="button" class="btn btn-primary" value="valider"
						ng-click="update()" ng-disabled="myForm.$invalid" />
				</form>

			</div>
		</div>

		</airticle>
		<!-- End: Product description -->
	</div>
</div>
</div>
<!-- End: Main content -->
