

<!-- Start: Main content -->
<div class="content">
	<div class="container">
		<!-- Start: Announce description -->
		<airticle class="article">
		<div class="row bottom-space">
			<div class="span12">
				<div class="page-header">
					<h1>Les informations de l'annonce</h1>
				</div>
			</div>
		</div>
		<div class="row-fluid">
			<div class="span10 offset1">

				<div ng-show="!edit" class="thumbnail">
					<div class="caption">
						<p>
							<strong>Nom :</strong> {{editables.name }}
						</p>
						<p>
							<strong>Description :</strong>{{editables.description }}
						</p>
						<p>
							<strong>Emplacement :</strong> {{editables.emplacement}}
						</p>
						<p>
							<strong>Prix :</strong> {{editables.prixMobilier}} &nbsp;&euro;
						</p>
						<p>
							<strong>Surface :</strong> {{editables.surface}} m<sup>2</sup>
						</p>
					</div>

					<div>
						<p>
							<button ng-click="edit=true" class="btn btn-primary btn-large">edit</button>
						</p>
					</div>
				</div>



				<form ng-show="edit" name="myForm">

					<fieldset class="form-group">
						<label for="exampleTextarea"></label> <input type="hidden"
							class="form-control" id="exampleInputEmail1"
							ng-model="editables.id">
					</fieldset>

					<fieldset class="form-group">
						<label for="exampleTextarea">Nom</label> <input type="text"
							class="form-control" id="exampleInputEmail1"
							ng-model="editables.name">
					</fieldset>


					<fieldset class="form-group">
						<label for="exampleTextarea">Description</label> <input
							type="text" class="form-control" id="exampleInputEmail1"
							ng-model="editables.description">
					</fieldset>

					<fieldset class="form-group">
						<label for="exampleInputEmail1">Lieu</label> <input type="text"
							class="form-control" id="exampleInputEmail1"
							ng-model="editables.emplacement">
					</fieldset>

					<fieldset class="form-group">
						<label for="exampleInputEmail1">Prix</label> <input type="number" name="Prix"
							class="form-control" id="exampleInputEmail1"
							ng-model="editables.prixMobilier">
							<span class="text-danger" ng-show="myForm.Prix.$error.number">
                                 Le prix est un entier  !!
                            </span>
					</fieldset>

					<fieldset class="form-group">
						<label for="exampleInputEmail1">Surface</label> <input type="number" name="Surface"
							class="form-control" id="exampleInputEmail1"
							ng-model="editables.surface">
							<span class="text-danger" ng-show="myForm.Surface.$error.number">
                                 La surface est un entier  !!
                            </span>
					</fieldset>

					<input type="button" class="btn btn-primary" value="valider"
						ng-click="update()" />
				</form>

			</div>
		</div>

		</airticle>
		<!-- End: Product description -->
	</div>
</div>
</div>
<!-- End: Main content -->
