
    <!-- Start: MAIN CONTENT -->
    <div class="content">
      <div class="container">
        <div class="page-header">
          <h1>Inscription à AldaFreeMarket</h1>
        </div>
        <div class="row">
          <div class="span6 offset3">
            <h4 class="widget-header"><i class="icon-gift"></i> Inscription</h4>
            <div class="widget-body">
              <div class="center-align">
                <form class="form-horizontal form-signin-signup" ng-controller="signupCtrl">
                  <input type="text" name="email" placeholder="Email" ng-model="signupEmail" required>
                  <input type="password" name="password" placeholder="Password" ng-model="signupPassword" required>
                  <input type="password" name="password_confirmation" placeholder="Password Confirmation" ng-model="passwordConfirm" required>
                  <div>
                    <input type="submit" value="Inscrition" class="btn btn-primary btn-large" ng-click="signup()">
                  </div>
                </form>
                <h4><i class="icon-question-sign"></i> Vous avez déjà un compte?</h4>
                <a ui-sref="connexion" class="btn btn-large bottom-space">Connexion</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End: MAIN CONTENT -->

    
    
  
    